<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--扫描service包并配置成bean-->
    <context:component-scan base-package="com.gec.user.service"/>

    <!--配置数据源-->
    <bean id="datasource" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close" p:driverClassName="${jdbc.driverClassName}" p:username="${jdbc.username}"
          p:password="${jdbc.password}" p:url="${jdbc.url}"/>
    <!--配置事务管理器-->
    <bean id="transcationmanager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" p:dataSource-ref="datasource"/>



    <!--以注解开启事务管理器-->
    <tx:annotation-driven transaction-manager="transcationmanager" />

</beans>